@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<CIS341_Project.Models.DTO.AllAssignmentsDTO>
@{
}
<h1>Tasks for @ViewBag.loggedInHouseHoldmember</h1>

@if (ViewBag.NoAssignmentsForMember != null)
{
    <h2>You have no tasks ask your parent to give you some</h2>
}
<table class="table table-striped table-hover table-bordered border-secondary overflow-auto">
    @*Make the first row with the names and the first column saying date*@
    <tr>
        <th>Date</th>
        @foreach (var name in ViewBag.HouseholdMembersWithAssignments)
        {
            <th>
                @name
            </th>
        }
    </tr>
    @foreach (CIS341_Project.Models.DTO.AllAssignmentsDTO aADTO in Model)
    {
        <tr>
            <th>
                @aADTO.DueDate.ToShortDateString()
            </th>
            @foreach (List<CIS341_Project.Models.DTO.AssignmentDTO> householdMembersAssignments in aADTO.HouseholdMembersAssignments)
            {
                <td>
                    @foreach (CIS341_Project.Models.DTO.AssignmentDTO assignment in householdMembersAssignments)
                    {
                        <div>
                            <input asp-for=@assignment.Completed disabled /> @assignment.TaskDescription
                                @if (@assignment.Completed) {
                                    <a asp-action="UpdateAssignmentCompletion" asp-route-id="@assignment.AssignmentID">Mark as incomplete</a>
                                }
                                else{
                                <a asp-action="UpdateAssignmentCompletion" asp-route-id="@assignment.AssignmentID">Mark as complete</a>
                                }
                        </div>
                    }
                </td>
            }
        </tr>
    }
    @*Make the rest of the rows with the passed in model everytime the date changes new row*@
</table>